@using ApiRestaurante.Models

@{
    PageAtributes Attr = this.Model;
    if (Attr == null)
    {
        return;
    }
}
<!DOCTYPE html>
    <html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>@Attr.Title</title>
        @Styles.Render("~/Content/" + Attr.BundleCSS)
        @Scripts.Render("~/bundles/modernizr")

    </head>

    <body>
              

        @RenderBody()

        <!-- Bootstrap core JavaScript
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/popper/popper.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script> -->


        @Scripts.Render("~/bundles/" + Attr.BundleScript)
        @RenderSection("scripts", required: false)
    </body>
</html>
