@using ApiRestaurante.Models

@{
    PageAtributes Attr = this.Model;
    if (Attr == null)
    {
        return;
    }
}
<!DOCTYPE html>
    <html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>One Page Wonder - Start Bootstrap Template</title>
        @Styles.Render("~/Content/" + Attr.BundleCSS)
        @Scripts.Render("~/bundles/modernizr")

    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="">
                    <img src="~/Content/img/tabalato-logo-mini.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                HOME
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CARDÁPIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">SOBRE NÓS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">FALE CONOSCO</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        

        @RenderBody()
        <hr />
        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
            </div>
            <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/popper/popper.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script> -->


        @Scripts.Render("~/bundles/" + Attr.BundleScript)
        @RenderSection("scripts", required: false)
    </body>
</html>
